.container__menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.container__menu > li > a {
    text-decoration: none;
}
.activated{
    color: white;
    font-size: larger;
    background-color:blue;
    border-radius: 20px;
    padding: 10px;
}

